.btn {
  display: block;
  padding-top: 9px;
  padding-bottom: 11px;
  .font-secondary(16px, 20px, #ffffff);
  background-color: #68b738;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &--flex {
    padding-top: 12px;
    padding-bottom: 10px;
    .font-secondary(14px, 18px, #ffffff);
  }

  &--grey {
    color: #444444;
    background-color: #f2f2f2;
  }
}

@media (min-width: @tablet-width) {
  .btn {
    &--flex {
      padding-top: 15px;
      padding-bottom: 17px;
      .font-secondary(20px, 20px, #ffffff);
    }
  }
}
