.contacts {
  &--grey {
    background-color: #f2f2f2;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 25px;
}

.contacts__prompt {
  width: 50%;
  .font-secondary(16px, 20px, #111111);
  text-transform: uppercase;
}

.contacts__address {
  padding: 0;
  margin: 0;
  width: 50%;
  font-family: @fontPrimary;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__map {
  height: 362px;
  background: url("../../img/bg-map-mobile@1x.png") center -36px no-repeat;
}

.contacts__pin {
  display: block;
  width: 60.34px;
  height: auto;
  transform: translate(110px, 142px);
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    align-items: stretch;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 66px;
    padding-bottom: 55px;
    box-sizing: border-box;
  }

  .contacts__prompt {
    padding-bottom: 3px;
    width: 165px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 165px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__map {
    height: 400px;
    background: url("../../img/bg-map-tablet@1x.png") center top no-repeat;
  }

  .contacts__pin {
    width: 124px;
    transform: translate(292px, 150px);
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: relative;
    top: 93px;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 76px;
    background: linear-gradient(to right, #ffffff 570px, transparent 570px);
  }

  .contacts__prompt {
    padding-top: 2px;
    width: 200px;
  }

  .contacts__address {
    align-items: flex-start;
    margin-left: 50px;
    width: 170px;
    text-align: left;
  }

  .contacts__map {
    margin-top: -204px;
    height: 397px;
    background: url("../../img/bg-map-desktop@1x.png") center -3px no-repeat;
  }

  .contacts__pin {
    transform: translate(888px, 147px);
  }
}
