.copyright {
  padding-top: 21px;
  padding-bottom: 31px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: -2px;

  font-family: @fontPrimary;
  font-size: 16px;
  line-height: 1;
  color: #444444;
  font-style: normal;
  text-decoration: none;

  &:hover,
  &:active {
    .copyright__icon {
      fill: @main-green-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    margin: 0;
  }
}
