.extra-catalog__title {
  margin: 0;
  margin-bottom: 28px;
  .font-secondary(24px, 24px, #111111);
}

.extra-catalog__item {
  &:not(:first-of-type) {
    margin-top: -1px;
  }

  &:last-of-type {
    margin-bottom: 39px;
  }
}
