.extra-catalog__title {
  margin: 0;
  margin-bottom: 28px;
  .font-secondary();
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.extra-catalog__item {
  &:not(:first-of-type) {
    margin-top: -1px;
  }

  &:last-of-type {
    margin-bottom: 39px;
  }
}
