.fieldset-contacts__legend {
  margin-bottom: 33px;
}

.fieldset-contacts__email {
  margin-bottom: 15px;
}

.fieldset-contacts__email-field {
  margin-left: 11px;
}

.fieldset-contacts__phone-field {
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .fieldset-contacts__legend {
    margin-bottom: 76px;
  }

  .fieldset-contacts__email {
    margin-bottom: 20px;
  }

  .fieldset-contacts__email-field {
    padding-left: 20px;
    margin-left: 19px;
  }

  .fieldset-contacts__phone-field {
    margin-left: 13px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset-contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .fieldset-contacts__legend {
    width: 100%;
  }

  .fieldset-contacts__email {
    margin: 0;
    padding-left: 2px;
    width: 568px;
  }

  .fieldset-contacts__phone {
    width: 572px;
  }

  .fieldset-contacts__phone-field {
    margin-left: 17px;
  }
}
