.fieldset-identity__name {
  margin-bottom: 14px;
}

.fieldset-identity__weight {
  margin-bottom: 14px;
}

.fieldset-identity__name-field {
  margin-left: 14px;
}

.fieldset-identity__weight-field {
  margin-left: 17px;
}

.fieldset-identity__age-field {
  margin-left: 15px;
}

@media (min-width: @tablet-width) {
  .fieldset-identity__name {
    margin-bottom: 20px;
  }

  .fieldset-identity__weight {
    margin-bottom: 20px;
  }

  .fieldset-identity__name-field {
    margin-left: 17px;
  }

  .fieldset-identity__weight-field {
    margin-left: 20px;
  }

  .fieldset-identity__age-field {
    margin-left: 17px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset-identity {
    width: 570px;
  }

  .fieldset-identity__wrapper {
    margin: 0;
    width: 100%;
  }
}
