.fieldset-goal {
  padding-top: 18px;
  padding-bottom: 21px;
  border: 1px solid #ededed;
}

.fieldset-goal__radio-btn {
  display: none;
}

.fieldset-goal__label {
  position: relative;
  padding-left: 46px;
  margin-bottom: 13px;
  min-height: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;

    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
  }

  &:hover,
  &:active {
    &::before {
      border: 1px solid #bababa;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.fieldset-goal__radio-btn:checked + .fieldset-goal__label {
  &::before {
    background-color: @main-green-color;
    box-shadow: inset 0 0 0 8px #ffffff;
  }
}

.fieldset-goal__radio-btn:disabled + .fieldset-goal__label {
  opacity: 0.3;

  &::before {
    border: 1px solid #bababa;
    background-color: #cdcdcd;
  }
}

@media (min-width: @tablet-width) {
  .fieldset-goal {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 630px;
    border: 1px solid #e6e6e6;
  }

  .fieldset-goal__wrapper {
    padding: 0;
    padding-top: 29px;
    padding-bottom: 31px;
    width: 100%;
    box-sizing: content-box;
  }

  .fieldset-goal__label {
    padding-left: 90px;
    margin-bottom: 23px;

    &::before {
      top: -5px;
      left: 30px;
      width: 38px;
      height: 38px;
    }
  }

  .fieldset-goal__radio-btn:checked + .fieldset-goal__label {
    &::before {
      box-shadow: inset 0 0 0 10px #ffffff;
    }
  }
}

@media (min-width: @desktop-width) {
  .fieldset-goal {
    margin: 0;
    width: 568px;
  }

  .fieldset-goal__wrapper {
    margin: 0;
    width: 100%;
  }

  .fieldset-goal__label {
    padding-left: 86px;
    margin-bottom: 23px;

    &::before {
      top: -5px;
      left: 27px;
    }
  }
}
