.fieldset-extra__legend {
  margin-bottom: 34px;
}

.fieldset-extra__checkbox {
  display: none;
}

.fieldset-extra__label {
  padding-left: 46px;
  margin-bottom: 12px;
  min-height: 30px;

  &:last-of-type {
    margin: 0;
  }
}
