.fieldset-goal {
  padding-top: 19px;
  padding-bottom: 21px;
  border: 1px solid #ededed;
}

.fieldset-goal__radio-btn {
  display: none;
}

.fieldset-goal__label {
  padding-left: 46px;
  margin-bottom: 14px;
  min-height: 30px;

  &:last-of-type {
    margin-top: -2px;
    margin-bottom: 0;
  }
}
