.form__wrapper {
  margin: 0 auto;
  width: @mobile-wrapper-width;
}

.form__text {
  margin-bottom: 39px;
  .font-secondary(14px, 18px, #111111);
  text-transform: uppercase;
}

.form__submit-btn {
  width: 100%;
  border: none;
}

.form__text-small {
  font-family: @fontPrimary;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form__legend {
  margin: 0;
  .font-secondary(24px, 1, #111111);
  text-align: left;
}

.form__label {
  display: flex;
  align-items: center;
  .font-secondary(16px, 18px, #222222);
  text-transform: uppercase;
}

.form__text-field,
.form__number-field,
.form__email-field,
.form__phone-field {
  flex-grow: 1;
  padding: 0;
  padding-bottom: 2px;
  padding-left: 14px;
  height: 45px;
  box-sizing: border-box;
  .font-secondary(16px, 18px, #444444);
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
}

.form__fieldset-identity {
  margin-bottom: 23px;
}

.form__fieldset-goal {
  margin-bottom: 28px;
}

.form__fieldset-contacts {
  margin-bottom: 28px;
}

.form__fieldset-comment {
  margin-bottom: 28px;
}

.form__fieldset-extra {
  margin-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding-left: 41px;
    padding-right: 37px;
    width: @tablet-wrapper-width;
    box-sizing: border-box;
  }

  .form__text {
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__text-small {
    font-size: 16px;
    line-height: 16px;
  }

  .form__legend {
    font-size: 36px;
  }

  .form__label {
    font-size: 20px;
    line-height: 1;
  }

  .form__text-field,
  .form__number-field,
  .form__email-field,
  .form__phone-field {
    padding-bottom: 2px;
    padding-left: 18px;
    height: 52px;
    .font-secondary(20px, 20px, #444444);
  }

  .form__fieldset-identity {
    margin-bottom: 72px;
  }

  .form__fieldset-goal {
    margin-bottom: 75px;
  }

  .form__fieldset-contacts {
    margin-bottom: 65px;
  }

  .form__fieldset-comment {
    margin-bottom: 65px;
  }

  .form__fieldset-extra {
    margin-bottom: 23px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    padding: 0;
    width: @desktop-wrapper-width;
    box-sizing: content-box;
  }

  .form__id-goal-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 69px;
    width: @desktop-wrapper-width;
  }

  .form__fieldset-identity {
    margin-bottom: 0;
  }

  .form__fieldset-goal {
    margin-bottom: 0;
  }

  .form__fieldset-contacts {
    margin-bottom: 67px;
  }

  .form__fieldset-comment {
    margin-bottom: 67px;
  }

  .form__fieldset-extra {
    margin-bottom: 62px;
  }
}
