.item-more {
  padding-bottom: 24px;
  text-align: center;
  border: 1px solid #ededed;
}

.item-more__wrapper {
  margin: 0 auto;
  padding-top: 26px;
  width: @mobile-wrapper-width;
}

.item-more__plus {
  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 100%;
}

.item-more__title {
  display: block;
  margin-bottom: 9px;
  .font-secondary(16px, 20px, #111111);
  text-transform: uppercase;
}

.item-more__text {
  margin: 0;
  margin-bottom: 21px;
  width: 100%;
  font-family: @fontPrimary;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}

