.item {
  padding-top: 20px;
  padding-bottom: 24px;
  border: 1px solid #ededed;
}

.item__title {
  .font-secondary();
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.item__image {
  width: 140px;
  height: 144px;
}

.item__term {
  font-family: @fontPrimary;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: normal;
  text-align: left;
}

.item__value {
  font-family: @fontPrimary;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: right;
}
