.item {
  padding-bottom: 24px;
  border: 1px solid #ededed;
}

.item__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: @mobile-wrapper-width;
}

.item__image {
  width: 140px;
  height: 144px;
}

.item__description {
  border-collapse: collapse;
  width: 50%;
}

.item__desc-caption {
  padding-top: 20px;
  margin-bottom: 13px;
  width: 60%;
  text-align: left;
}

.item__title {
  margin: 0;
  .font-secondary(16px, 20px, #111111);
  text-transform: uppercase;
}

.item__term,
.item__value {
  padding: 0;
  font-family: @fontPrimary;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: normal
}

.item__term {
  text-align: left;
}

.item__value {
  text-align: right;
}

.item__btn {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .item {
    padding: 0;
    width: 324px;
    border: 0;
  }

  .item__wrapper {
    margin: 0;
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .item {
    width: 245px;
  }
}
