.page-main__title {
  padding: 0;
  padding-top: 15px;
  margin-bottom: 28px;
  .font-secondary(36px, 60px, #111111);
}

.page-main__promo {
  margin-bottom: 22px;
}

.page-main__categories {
  margin-bottom: 15px;
}

.page-main__advantages {
  margin-bottom: 22px;
}

.page-main__catalog {
  margin-bottom: 29px;
}

.page-main__extra-catalog {
  margin-bottom: 35px;
}

.page-main__diet-program {
  margin-top: -3px;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 1;
  }

  .page-main__diet-program {
    margin-bottom: 66px;
  }
}
