.promo {
  text-align: center;
}

.promo__header {
  padding-top: 32px;
  padding-bottom: 140px;
  background:
    url("../img/index-background-mobile@1x.jpg") center 0 no-repeat,
    linear-gradient(to right, #65a93c 50%, #63a73a 50%);
}

.promo__title {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  .font-secondary();
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  display: block;
  .font-secondary();
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__img {
  display: block;
  margin-top: -105px;
  margin-bottom: 3px;
  width: 280px;
  height: 271px;
}
