.slider__wrapper {
  position: relative;
  min-height: 328px;
  font-size: 0;
}

.slider__slide {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.slider__slide--before {
  z-index: 20;
  background: #f2f2f2 url("../../img/before-mobile@1x.png") center top no-repeat;
}

.slider__slide--after {
  z-index: 10;
  background: #eaeaea url("../../img/after-mobile@1x.png") center top no-repeat;
}

.slider__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 31px;
  z-index: 30;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__control-layout {
  display: flex;
  width: 85px;

  &--left {
    justify-content: flex-end;
  }

  &--right {
    justify-content: flex-start;
  }
}

.slider__control {
  padding-top: 5px;
  padding-bottom: 5px;
  .font-secondary(16px, 20px, #111111);
  text-transform: uppercase;
  cursor: pointer;
}

.slider__bar {
  position: relative;
  width: 82px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
  }
}

.slider__radio {
  display: none;

  &--before:checked ~ .slider__slide--before {
    width: 100%;
  }

  &--after:checked ~ .slider__slide--before {
    width: 0;
  }

  &--before:checked ~ .slider__controls > .slider__bar::before {
    left: 6px;
  }

  &--after:checked ~ .slider__controls > .slider__bar::before {
    left: auto;
    right: 6px;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    background:
      linear-gradient(to bottom, #ffffff @tablet-slider-gradient-border, transparent @tablet-slider-gradient-border),
      linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slider__wrapper {
    margin: 0 auto;
    min-height: 630px;
    width: @tablet-wrapper-width;
  }

  .slider__slide--before {
    width: @tablet-wrapper-width / 2;
    background:
      url("../../img/before-tablet@1x.png") 15px top no-repeat,
      linear-gradient(to bottom, #ffffff @tablet-slider-gradient-border, #f2f2f2 @tablet-slider-gradient-border);
  }

  .slider__slide--after {
    background:
      url("../../img/after-tablet@1x.png") 15px top no-repeat,
      linear-gradient(to bottom, #ffffff @tablet-slider-gradient-border, #eaeaea @tablet-slider-gradient-border);
  }

  .slider__controls {
    bottom: 68px;
  }

  .slider__control-layout {
    width: 120px;
    box-sizing: border-box;

    &--left {
      padding-right: 5px;
    }
  }

  .slider__control {
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-color: transparent;
    }
  }

  .slider__bar {
    position: relative;
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;

    &::before {
      content: "";
      position: absolute;
      top: -13px;
      left: 198px;
      width: 8px;
      height: 8px;
      border: 12px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
      background-color: #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    min-height: 655px;
  }

  .slider__wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .slider__slide--before {
    width: 365px;
    background:
      url("../../img/before-desktop@1x.png") 0 0 no-repeat,
      linear-gradient(to bottom, #ffffff @desktop-slider-gradient-border, #f2f2f2 @desktop-slider-gradient-border);
  }

  .slider__slide--after {
    background:
      url("../../img/after-desktop@1x.png") 0 0 no-repeat,
      linear-gradient(to bottom, #ffffff @desktop-slider-gradient-border, #eaeaea @desktop-slider-gradient-border);
  }
}
