.stats {
  text-align: center;
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 17px;
  text-align: left;
}

.stats__item {
  margin-bottom: 17px;
  width: 124px;
  text-align: center;

  &--text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;

    .stats__value {
      order: 1;
      margin-left: 4px;
      padding: 0;
      .font-secondary(14px, 20px, #111111);
      text-transform: uppercase;
      border: none;
    }

    .stats__desc {
      margin: 0;
      padding: 0;
      box-sizing: content-box;
      max-width: 100%;
      .font-secondary(14px, 20px, #111111);
      text-transform: uppercase;
      background-color: transparent;
    }
  }
}

.stats__value {
  padding-top: 13px;
  padding-bottom: 16px;

  .font-secondary(24px, 24px, #111111);
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.stats__desc {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: -8px;
  padding: 0 8px;
  box-sizing: border-box;

  max-width: 84px;

  font-family: @fontPrimary;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  text-transform: lowercase;

  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .stats__list {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    width: 100%;
  }

  .stats__item {
    margin-bottom: 0;
    width: 162px;
    margin-left: 42px;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    &--text {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 0;
      margin-left: auto;
      width: 192px;

      .stats__value {
        margin-top: 9px;
        margin-left: 0;
        font-size: 20px;
        line-height: 1;
      }

      .stats__desc {
        margin: 0;
        margin-top: 12px;
        padding-right: 1px;
        font-size: 20px;
        line-height: 1;
      }
    }
  }

  .stats__value {
    padding-top: 14px;
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
    border: 1px solid #cdcdcd;
  }

  .stats__desc {
    padding: 0 6px;
    max-width: 140px;

    font-size: 14px;
    line-height: 1;

    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .stats__list {
    justify-content: space-between;
    margin-bottom: 31px;
    width: 366px;
  }

  .stats__item {
    margin-left: 0;
    margin-bottom: 43px;

    &--text {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      width: 100%;

      .stats__value {
        margin: 0;
        width: 168px;
        text-align: center;
      }

      .stats__desc {
        margin: 0;
        padding: 0;
        width: 50%;
        text-align: left;
      }
    }
  }


  .stats__desc {
    background-color: #f2f2f2;
  }

  .stats__cost {
    width: 100%;
  }
}
