.page-main__title {
  padding: 0;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 35px;
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.page-main__promo {
  margin-bottom: 22px;
  outline: 1px solid red;
}

.page-main__categories {
  margin-bottom: 14px;
  outline: 1px solid red;
}

.page-main__advantages {
  outline: 1px solid red;
}
