@import "page-header.less";
@import "main-nav.less";
@import "promo.less";

@import "common-btn.less";


body {
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: 280px;
  outline: 1px solid red;
  outline-offset: 0;
}
